@font-face {
   font-family: "Heading-Now-85-Medium-trial";
   src: url("../fonts/Heading-Now-85-Medium-trial.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
   font-display: swap;
}

@font-face {
   font-family: "Heading-Now-95-Medium-trial";
   src: url("../fonts/Heading-Now-95-Medium-trial.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
   font-display: swap;
}

@font-face {
   font-family: "Gilroy-Bold";
   src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
   font-display: swap;
}

@font-face {
   font-family: "Gilroy-Medium";
   src: url("../fonts/Gilroy-Medium.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
   font-display: swap;
}

@font-face {
   font-family: "Gilroy-Regular";
   src: url("../fonts/Gilroy-Regular.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
   font-display: swap;
}

html {
   box-sizing: border-box;
   /*overflow-x: hidden;*/
}

*, *::after, *::before {
   box-sizing: inherit;
}

body {
   min-width: 320px;
   /*overflow-x: hidden;*/
   background: url(../images/background.png) repeat-y #000;
   background-size: contain;
   color: #fff;
}

.container {
   max-width: 550px;
   margin: auto;
}

a {
   text-decoration: none;
   color: #fff;
} 

.header {
   border-bottom: 3px solid #2c2c2c;
}

.header__inner {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 0;
   max-height: 130px;
}

.logo {
   display: flex;
   align-items: center;
}

.logo__name {
   font-family: "Heading-Now-95-Medium-trial";
   font-size: 24px;
   margin: 0 20px 0 25px;
}

.links {
   display: flex;
   align-items: center;
}

.logo__link img {
   height: 50px;
}

.header__social-link img {
   height: 30px;
}

.header__social-link-tg img {
   height: 25px;
}

.header__social-link:first-child {
   margin-right: 25px;
}

.about {
   display: flex;
   position: relative;
}

.about__image-circle {
   position: absolute;
   z-index: -1;
   right: 380px;
   bottom: 175px;
}
.about__image-circle img {
   width: 280px;
}

.about__hello {
   position: absolute;
   top: 80px;
   right: 170px;
   background: url(../images/gazeta1.svg) no-repeat;
   background-size: cover;
   transform: rotate(10deg);
   width: 120px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.about__hello img {
   height: 17px;
}

.about__hello p {
   font-size: 16px;
   font-family: Gilroy-Bold;
   margin-right: 10px;
}

.about__title {
   font-size: 46px;
   font-family: "Heading-Now-85-Medium-trial";
   font-weight: 500;
   max-width: 555px;
   margin: 80px 0 0 0;
}

.about__subtitle {
   background: url(../images/strip.png) bottom no-repeat;
   background-size: contain;
   margin: 30px 0 30px 0;
   padding: 0 25px 10px 30px;
   font-size: 26px;
   font-family: "Gilroy-Regular";
}

.about__text {
   font-size: 20px;
   font-family: "Gilroy-Regular";
   color: rgb(168, 168, 168);
   line-height: 1.5;
}

.about__img-human img {
   width: 240px;
}

.about__text span {
   color: #fff;
}

.why__title {
   font-size: 36px;
   font-family: "Heading-Now-85-Medium-trial";
   font-weight: 500;
   margin: 0;
}

.why__title span {
   color: #1efe5e;
}

.why__subtitle {
   font-size: 24px;
   font-family: "Gilroy-Regular";
   margin: 15px 0 0 0;
}

.why__content {
   display: flex;
   margin: 40px 0 70px 0;
}

.why__image {
   display: flex;
   align-items: center;
   justify-content: center;
   background: url(../images/gazeta2.svg) no-repeat;
   background-size: cover;
   transform: rotate(353deg);
   width: 92px;
   height: 90px;
}

.why__image img {
   height: 30px;
}

.why__text {
   max-width: 330px;
   margin: 0 0 0 40px;
   font-size: 24px;
   font-family: "Gilroy-Regular";
   color: rgb(168, 168, 168);
}

.social {
   position: relative;
}

.social__image-circle {
   position: absolute;
   z-index: -1;
   bottom: 175px;
   left: 210px;
}

.social__image-circle img {
   width: 280px;
}

.social__title {
   font-size: 36px;
   font-family: "Heading-Now-85-Medium-trial";
   font-weight: 500;
   text-align: center;
   margin: 0 0 70px 0;
}

.social__buttons {
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
   font-size: 20px;
   font-family: "Gilroy-Bold";
   font-weight: 500;
}

.social__button-telegramm {
   width: 260px;
   height: 80px;
   display: flex;
   background: #3390ec;
   border-radius: 100px;
   align-items: center;
   justify-content: center;
   box-shadow: 0 0 25px 2px rgba(51, 144, 236, 0.3);
}

.social__button-telegramm img {
   height: 15px;
}

.social__button-telegramm p {
   margin-left: 11px;
}

.social__button-transparent {
   width: 260px;
   height: 80px;
   border: 4px solid #2c2c2c;
   border-radius: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.social__button-buy {
   position: sticky;
   bottom: 0;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #1efe5e;
   border-radius: 100px;
   height: 80px;
   color: #1a1a1a;
   font-size: 20px;
   font-family: "Gilroy-Bold";
   font-weight: 500;
   box-shadow: 0 0 25px 2px rgba(30, 254, 94, 0.3);
}

.promo {
   margin: 80px 0 200px 0;
   position: relative;
   border-top: 3px solid #2c2c2c;
   padding: 60px 0 0 0;
}

.promo__image-circle {
   position: absolute;
   top: -160px;
   z-index: -10;
}

.promo__image-circle img {
   width: 400px;
}

.promo__image-boook img {
   width: 100%;
}

.promo__inner {
   display: flex;
   justify-content: space-between;
}

.promo__content {
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   text-align: center;
}

.promo__registration-button {
   margin: 10px 0 0 0;
   font-size: 20px;
   font-family: "Gilroy-Medium";
   color: rgb(26, 26, 26);
   background: #ffb905;
   box-shadow: 0 0 25px 2px rgba(255, 185, 5, 0.3);
   border-radius: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 80px;
   width: 300px;
}

.promo__promocod p {
   font-size: 20px;
   font-family: "Gilroy-Regular";
   margin: 0 0 10px 0;
}

.promo__copy {
   border: 4px solid #2c2c2c;
   border-radius: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 70px;
}

.promo__copy:hover {
   cursor: pointer;
}

.promo__text {
   font-size: 18px;
   font-family: "Heading-Now-95-Medium-trial";
   color: rgb(30, 254, 94);
}

.promo__copy-button {
   display: flex;
   align-items: center;
   margin-left: 30px;
   padding: 0;
   border: none;
   background-color: transparent;
}

.promo__copy-button img {
   height: 26px;
}

.promo__copy-button:hover {
   cursor: pointer;
}

.fixet-button {
   background: url(../images/background.png) no-repeat;
   background-size: cover;
   position: fixed;
   display: flex;
   left: 0;
   right: 0;
   align-items: center;
   bottom: 0;
   z-index: 10;
   border-top: 3px solid #2c2c2c;
   height: 140px;
   box-shadow: 0 0 25px 15px rgba(10, 12, 11, 0.9);
}

.fixet-button__content {
   display: flex;
   width: 100%;

}

@media (min-width: 1081px) {
   body {
      background-size: cover;
   }
   .header__inner {
      padding: 20px 0;
   }
}

@media (max-width: 650px) {
   body, html {
      overflow-x: hidden;
   }
   .button-buy__visible {
      display: none;
   }
   .social__image-circle {
      bottom: 70px;
   }
   .why__content {
      margin-bottom: 70px;
   }
}



@media (max-width: 550px) {
   .container {
      max-width: 310px;
   }

   .logo__name {
      margin-right: 60px;
      margin-left: 15px;
      font-size: 13px;
   }

   .logo__link img {
      height: 42px;
   }

   .header__social-link img {
      height: 23px;
   }

   .header__social-link-tg img {
      height: 18px;
   }

   .header__social-link:first-child {
      margin-right: 15px;
   }

   .header__inner {
      padding: 15px 0;
      max-height: 70px;
   }

   .about__image-circle {
      right: 200px;
      bottom: 160px;
   }

   .about__image-circle img {
      width: 165px;
   }

   .about__hello {
      right: 100px;
      width: 80px;
      top: 40px;
      height: 36px;
   }

   .about__hello img {
      height: 17px;
   }

   .about__hello p {
      font-size: 11px;
      margin-right: 5px;
   }

   .about__title {
      margin-top: 50px;
      font-size: 25px;
   }

   .about__subtitle {
      font-size: 16px;
      padding: 0 0 7px 8px;
   }

   .about__text {
      font-size: 11px;
   }

   .about__img-human img {
      width: 180px;
   }

   .why__content {
      margin-bottom: 60px;
      margin-top: 25px;
   }

   .why__image {
      width: 45px;
      height: 40px;
   }

   .why__image img {
      height: 17px;
   }

   .why__text {
      max-width: 200px;
      margin-left: 15px;
   }

   .why__title,
   .social__title {
      font-size: 20px;
   }

   .social__title {
      margin-bottom: 25px;
   }

   .why__subtitle,
   .why__text {
      font-size: 14px;
   }

   .social__buttons a {
      width: 150px;
      font-size: 13px;
      height: 50px;
   }

   .social__button-telegramm img {
      height: 11px;
   }

   .social__button-telegramm p {
      margin-left: 9px;
   }

   .social__button-buy {
      font-size: 13px;
      height: 50px;
   }

   .social__button-transparent {
      border: 2px solid #2c2c2c;
   }

   .social__image-circle {
      bottom: 0px;
      left: 80px;
   }

   .social__image-circle img {
      width: 230px;
   }

   .fixet-button {
      height: 80px;
   }

   .promo {
      margin: 50px 0 115px 0;
      padding-top: 10px;
   }

   .promo__content {
      margin-left: 10px;
   }

   .promo__registration-button {
      font-size: 13px;
      height: 50px;
      width: 170px;
   }

   .promo__promocod p {
      font-size: 11px;
   }

   .promo__text {
      font-size: 11px;
   }

   .promo__image-circle {
      top: -70px;
   }

   .promo__image-circle img {
      width: 160px;
   }

   .promo__copy {
      height: 45px;
      border: 2px solid #2c2c2c;
   }

   .promo__copy-button img {
      height: 18px;
   }

   .promo__copy-button {
      margin-left: 5px;
   }

   .promo__registration-img {
      width: 75px;
   }
}